.containerLogin{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1{
  font-size: 32px;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #FFFFFF;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  & button{
    border-radius: 30px;
    background-color: #2563EB;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
  }

  & button:hover{
    opacity: 0.8;
  }

  & input{
    border: 1px solid#E5E7EB;
    border-radius: 30px;
    height: 40px;
    color: #0000;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
  }
}


#icone-log{
  background-color:  #DBEAFE;
  width: 100px;
  height: 100px;
  border-radius:50px;
  margin-left: 120px;
}

#icone-log2{
  margin-left: 25px;
  margin-top: 25px;
  width: 50px;
  height: 50px;
  color: #3b63ff;
}

#icone-mail{
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
}

#icone-lock{
  position: relative;
  margin-top: 1px;
  margin-left: 10px;
}

#icone-olho{
  position: absolute;
  margin-top:263px;
  margin-left:305px;
}

#e-mail{
  position: absolute;
  margin-top: 200px;
  padding-left: 40px;
  width: 340px;
  background: rgba(255, 255, 255, 0.5);
}

#password{
  position: absolute;
  margin-top: 255px;
  padding-left: 40px;
  width: 340px;
  background: rgba(255, 255, 255, 0.5);
}
